#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 0.5em;
}

.mode {
  margin-bottom: 0.5em;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.source {
  width: 100%;
}

.output {
  background-color: #202020;
  text-align: left;
  width: 100%;
  min-height: 45ex;
  font-size: 0.9rem;
  line-height: 1.1;
  border: 1px solid #666;
  padding: 0.2em;
}
